[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
requests = "*"
sentry-sdk = "*"
cattrs = "*"
"interactions.py" = {extras = ["speedup"], version = "*"}
"jurigged" = "*"
"jsonschema" = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
mypy = "*"
rope = "*"
